h2 {
  font-size: 2.5em;
}

input[type="text"] {
  width: 100%;
}

input[type="submit"] {
  padding: 0 10px;
}

p {
  margin-bottom: 0;
}

.container {
  border: 3px solid black;
  max-width: 500px;
  margin-top: 40px;
  padding: 15px 0 0 15px;
}

.row {
  padding: 0;
  margin: 0;
  width: 100%;
}

.upper {
  padding: 0;
  padding-right: 15px;
}

.week {
  padding: 0;
  border-bottom: 1px solid black;
}

.day {
  padding: 10px;
}

.week:last-of-type {
  border: none;
}

.lower {
  padding: 0;
  margin-top: 20px;
}

.sidebar {
  padding: 0;
  border: 1px solid black;
  border-right: none;
  border-bottom: none;
}

.main-icon {
  font-size: 80px;
}

.label {
  margin-bottom: 0;
}

#main-temperature {
  font-size: 2em;
  margin-bottom: 10px;
}

#current-location {
  font-size: 0.9em;
  font-style: italic;
}

#footer {
  max-width: 500px;
  margin: 0 auto;
  padding: 3px 5px;
}
